<header class="main-header text center">
  {{#if @blog.cover}}

  <div class="cover" style="background-image: url({{@blog.cover}})">
    <div class="cover-mask padding">
      {{#if @blog.logo}}
      <nav>
        <a href="{{@blog.url}}" class="inline blog-logo-extra-border border circle">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-logo center border circle" />
        </a>
      </nav>
      {{/if}}
      <div class="site_width">
        <div class="blog-title"><a href="{{@blog.url}}/"><h1>{{@blog.title}}</h1></a></div>
        <p class="blog-description">{{@blog.description}}</p>
      </div>
    </div>

    {{!
      Here, you can add social icons.
    }}
    {{!> "social"}}
  </div>

  {{else}}

  <div class="no-cover site_width padding border solid bottom">
    {{#if @blog.logo}}
    <nav>
      <a href="{{@blog.url}}" class="inline blog-logo-extra-border border circle">
        <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-logo center border circle" />
      </a>
    </nav>
    {{/if}}
    <div class="site_width">
      <div class="blog-title"><a href="{{@blog.url}}/"><h1>{{@blog.title}}</h1></a></div>
      <p class="blog-description">{{@blog.description}}</p>
    </div>

    {{!
      Here, you can add social icons.
    }}
    {{!> "social"}}
  </div>

  {{/if}}
</header>