<header class="main-header blog {{#if @blog.cover}}cover" style="background-image: url({{@blog.cover}}){{else}}lazy-cover-loader no-cover{{/if}}">
  <nav class="site-width">
    {{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    <h3 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h3>
    <h4 class="blog-description">{{@blog.description}}</h4>

    {{!> "social"}}
  </nav>

  <aside class="scroll-down">
    <i class="fa fa-chevron-down"></i>&nbsp;&nbsp;Scroll down to read the blog&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
  </aside>
</header>
