<header class="main-header text center">
  {{#if @blog.cover}}

  <div class="cover" style="background-image: url({{@blog.cover}})">
    <div class="cover-mask padding">
      {{#if @blog.logo}}
      <nav>
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-logo center border circle" /></a>
      </nav>
      {{/if}}
      <div class="site_width">
        <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
        <p class="blog-description">{{@blog.description}}</p>
      </div>
    </div>
  </div>

  {{else}}

  <div class="no-cover site_width padding border solid bottom">
    {{#if @blog.logo}}
    <nav>
      <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-logo center border circle" /></a>
    </nav>
    {{/if}}
    <div class="site_width">
      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
      <p class="blog-description">{{@blog.description}}</p>
    </div>
  </div>

  {{/if}}
</header>