{{#foreach posts}}

<article class="padding">
  <header class="excerpt">
    <h4><a href="{{url}}">{{{title}}}</a></h4>
  </header>

  <div>
    <p>{{excerpt words="40"}} <a href="{{url}}">&raquo;</a></p>
  </div>

  <footer class="author">
    {{#if author.image}}
    <div class="author-thumb inline middle">
      <img src="{{author.image}}" alt="Foo" class="border circle" />
    </div>
    {{/if}}

    <div class="inline middle">
      {{author}}
      {{tags prefix=" on "}}
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
    </div>
  </footer>
</article>

{{/foreach}}

{{pagination}}