<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!
      Here, you can add authorship.
      Using authorship helps searchers discover great information by highlighting
      content from authors who they might find interesting.
      https://plus.google.com/authorship
    }}
    {{! <link rel="author" href="//plus.google.com/YOUR-ID?rel=author" /> }}

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Droid+Serif|Raleway:300,700,800,900' />

    <link rel="stylesheet" type="text/css" href="{{asset "css/xpressio.theme.velox.css"}}" />

    {{#post}}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{{title}}}">
    <meta name="twitter:description" content="{{excerpt}}">
    <meta name="twitter:creator" content="@yourTwitterUsername">
    <meta name="twitter:image" content="{{@blog.logo}}">
    <meta name="twitter:url" content="{{url absolute='true'}}">
    <meta name="twitter:domain" content="{{@blog.url}}">

    {{/post}}

    {{ghost_head}}
  </head>
  <body>
    {{{body}}}

    <footer class="site-footer text center padding">
      <div>&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</div>
      <div><a href="https://github.com/dreyacosta/velox" target="_blank"><strong>Velox theme</strong></a> by <a href="http://dreyacosta.com/">David Rey</a></div>
      <div>Proudly published with <a href="http://ghost.org"><span>Ghost</span></a></div>
    </footer>

    {{!
      Here, you can add Google Analytics.
      Also go to partials/google-analytics.hbs to set your ID and DOMAIN.
    }}
    {{!> google-analytics}}
  </body>
</html>