<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!
      Here, you can add authorship.
      Using authorship helps searchers discover great information by highlighting
      content from authors who they might find interesting.
      https://plus.google.com/authorship
    }}
    {{! <link rel="author" href="//plus.google.com/YOUR-ID?rel=author" /> }}

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/velox.css"}}">

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{{body}}}

    <footer class="site-footer">
      <time datetime="{{date format="YYYY"}}">{{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</time>
      <div><a href="https://github.com/dreyacosta/velox" target="_blank"><strong>Velox theme</strong></a> by <a href="http://dreyacosta.com/">David Rey</a></div>
      <div>Proudly published with <a href="http://ghost.org"><span>Ghost</span></a></div>
    </footer>

    {{> load-fonts}}
    {{> load-prism}}
    {{> load-lazycover}}
  </body>
</html>
