{{!< default}}

<header class="site_width text center padding_top_big margin_bottom_big">
  {{#if @blog.logo}}<a href="{{@blog.url}}"><div style="background: url({{@blog.logo}})"></div></a>{{/if}}
  <h1 class="blog_title margin_bottom_small"><a href="{{@blog.url}}">{ dreyacosta.com }</a></h1>
  <h4 class="text book">{{@blog.description}}</h4>
  <div class="social border solid top_small bottom_small padding_medium">
    <h6 class="text book color c_black_medium without_margin padding_right_big"><a href="/about-me"><i class="fa fa-user"></i> <span class="margin_left_small desktop">About me</span></a></h6>
    <h6 class="text book color c_black_medium without_margin padding_right_big"><a href="//es.linkedin.com/in/dreyacosta" target="_blank"><i class="fa fa-linkedin-square"></i> <span class="margin_left_small desktop">Linkedin</span></a></h6>
    <h6 class="text book color c_black_medium without_margin padding_right_big"><a href="//twitter.com/dreyacosta" target="_blank"><i class="fa fa-twitter-square"></i> <span class="margin_left_small desktop">Twitter</span></a></h6>
    <h6 class="text book color c_black_medium without_margin"><a href="//github.com/dreyacosta" target="_blank"><i class="fa fa-github"></i> <span class="margin_left_small desktop">GitHub</span></a></h6>
  </div>
</header>

<main class="site_width" role="main">
  {{#foreach posts}}

  <article class="margin_bottom_big">
    <header class="text center margin_bottom_medium">
      <h1 class"margin_bottom_medium"><a href="{{url}}">{{{title}}}</a></h1>
      <h5 class="text book small uppercase color c_black_light margin_bottom_small"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></h5>
    </header>

    <section class="post-excerpt">
      <p>{{excerpt}}&hellip;</p>
      <h5><a class="text book small uppercase color c_blue" href="{{url}}">Read this article <i class="fa fa-chevron-circle-right"></i></a></h5>
    </section>
  </article>

  {{/foreach}}

  {{pagination}}
</main>