{{!< default}}

{{#post}}

{{#if image}}

<header>
  <div class="cover" style="background-image: url({{image}})">
    <div class="cover-mask">
      <div class="blog-info">
        <div class="author">
          {{#if author.image}}<img src="{{author.image}}" alt="Author image" class="border circle inline" />{{/if}}
          <div class="inline">{{author}}</div>
        </div>

        <div class="title"><a class="text bold" href="{{@blog.url}}">{{@blog.title}}</a></div>
      </div>

      <div class="post-cover site_width site_width padding">
        <h1>{{{title}}}</h1>
        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
      </div>
    </div>
  </div>
</header>

{{else}}

{{> "header"}}

{{/if}}

<main class="site_width padding" role="main">
  <article class="{{post_class}}">
    {{#if image}}
    {{else}}
    <header class="post-header">
      <h1>{{{title}}}</h1>
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
    </header>
    {{/if}}

    <div class="entry margin_bottom">
      {{content}}
    </div>

    <footer class="author-post relative">
      {{#if author}}

      {{#if author.image}}
      <div class="author-thumb inline middle">
        <img src="{{author.image}}" alt="Author image" class="border circle" />
      </div>
      {{/if}}

      <div class="inline middle align vertical">
        <div>{{author}}</div>
        <div>{{author.bio}}</div>
      </div>

      {{/if}}
    </footer>

    {{!
      Here, you can add disqus comment.
      Also go to partials/disqus-comment to set your SHORTNAME.
    }}
    {{!> disqus-comment}}
  </article>
</main>

{{/post}}