{{!< default}}

{{> "header"}}

<main class="site_width padding" role="main">
  <article class="{{post_class}}">

    {{#post}}

    <header class="post-header">
      {{!-- {{#if tags}}<h5>Posted in {{tags}}</h5>{{/if}} --}}
      <h1>{{{title}}}</h1>
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
      {{!-- <h5><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></h5> --}}
    </header>

    <section class="margin_bottom">
      {{content}}
    </section>

    <footer class="author-post relative">
      {{#if author}}
      <div class="author-thumb">
        {{#if author.image}}<img src="{{author.image}}" alt="Author image" nopin="nopin" class="border circle" />{{/if}}
      </div>

      <div class="author-info align vertical">
        <div><a href="{{website}}">{{author}}</a></div>
        <div>{{author.bio}}</div>
      </div>
      {{/if}}
    </footer>

    {{/post}}

    {{!
      Here, you can add disqus comment.
      Also go to partials/disqus-comment to set your SHORTNAME.
    }}
    {{!> disqus-comment}}
    </article>
</main>